In [1]:
import os, pandas as pd, json

In [4]:
os.listdir()

['Untitled.ipynb', '.ipynb_checkpoints']

In [5]:
df_counts = pd.read_json('../eb_2018_counts_old.json')
df_phate = pd.read_json('../eb_2018_phate_old.json')

In [6]:
df_phate

                                  P1        P2    samples  time_idx
AAACCGTGCAGAAA-1_Day 00-03  0.021316 -0.007448  Day 00-03         0
AAACGCACCGGTAT-1_Day 00-03  0.047219  0.030343  Day 00-03         0
AAACGCACCTATTC-1_Day 00-03  0.043250  0.027219  Day 00-03         0
AAAGATCTCTGCTC-1_Day 00-03  0.020058 -0.009495  Day 00-03         0
AAAGATCTGGTACT-1_Day 00-03  0.048272  0.032444  Day 00-03         0
...                              ...       ...        ...       ...
TTTCGAACTTCTCA-1_Day 24-27 -0.020893 -0.001696  Day 24-27         4
TTTCTACTCTTATC-1_Day 24-27 -0.015315  0.000403  Day 24-27         4
TTTCTACTTGAGCT-1_Day 24-27 -0.022260 -0.000052  Day 24-27         4
TTTGCATGATGACC-1_Day 24-27 -0.022448 -0.000069  Day 24-27         4
TTTGCATGTTCTTG-1_Day 24-27 -0.018734 -0.001075  Day 24-27         4

[16821 rows x 4 columns]

In [49]:
df_p_json = df_phate.round(5).reset_index(drop=True).to_json(orient='records')

In [12]:
df_counts.loc[:, 'Timepoint'] = df_phate.time_idx
df_counts = df_counts.reset_index(drop=True)

In [19]:
for col in df_counts.columns:
    df_col = df_counts[[col]]
    df_col.reset_index(drop=True).round(5).to_json(
        f'../static/data/eb_2018_counts_{col}.json', orient='records'
    )
#     break 
    
#     df[[col]]

In [20]:
df_counts.columns

Index(['CD34', 'CD69', 'CDH1', 'CDH5', 'CER1', 'CXCR4', 'DPPA4', 'EDNRB',
       'EN2', 'EOMES', 'FOXA2', 'FOXD3', 'GATA3', 'GATA4', 'GATA6', 'GBX2',
       'HHEX', 'ISL1', 'ITGA4', 'ITGA6', 'KDR', 'LMO2', 'MAP2', 'MIXL1',
       'MYBPC2', 'MYH6', 'NANOG', 'NES', 'NEUROD1', 'NKX2-5', 'NPAS1', 'NR2F1',
       'NR2F6', 'NR6A1', 'ONECUT1', 'ONECUT2', 'OTX2', 'PAX3', 'PAX6',
       'PDGFRA', 'PECAM1', 'POU5F1', 'PRDM14', 'SIX2', 'SOX1', 'SOX10',
       'SOX17', 'SOX2', 'SOX9', 'TAL1', 'TBX15', 'TBX18', 'TBX5', 'TNNT2',
       'TP53', 'TP63', 'TTN', 'WT1', 'ZBTB16', 'ZIC2', 'ZIC5', 'Timepoint'],
      dtype='object')

In [69]:
df_counts.reset_index(drop=True).round(5).to_json(
    '../src/lib/data/eb_2018_counts.json', orient='records'
)

In [59]:
df_c_json = df_counts.reset_index(drop=True).round(5).to_json(
    '../src/lib/data/eb_2018_counts.json', orient='records'
)

In [58]:
with open('../src/lib/data/eb_2018_counts.json', 'w') as f:
    f.write(df_c_json)
    
with open('../src/lib/data/eb_2018_phate.json', 'w') as f:
    f.write(df_p_json)

In [ ]:
df_counts.to_json()

In [ ]:
f_counts.reset_index(drop=True).round(5).